<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.Cumulus.apprefresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Cumulus</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-8-Bit</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>8-Bit</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-DodgerBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DodgerBlue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-LightsOut</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightsOut</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Mango</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Mango</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-MaximumRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaximumRed</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-MightyUmbrella</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MightyUmbrella</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Moonlight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Moonlight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Orchid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orchid</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-PlumpPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PlumpPurple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-RainDrop</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RainDrop</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-SpringGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SpringGreen</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Thunderstorm</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Thunderstorm</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-TwilightZone</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TwilightZone</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-WindyDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>WindyDay</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>DodgerBlue</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-8-Bit</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>8-BitiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-DodgerBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DodgerBlueiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-LightsOut</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightsOutiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Mango</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MangoiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-MaximumRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaximumRediPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-MightyUmbrella</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MightyUmbrellaiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Moonlight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MoonlightiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Orchid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OrchidiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-PlumpPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PlumpPurpleiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-RainDrop</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RainDropiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-SpringGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SpringGreeniPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Thunderstorm</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ThunderstormiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-TwilightZone</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TwilightZoneiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-WindyDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>WindyDayiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>DodgerBlueiPad</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.josephszafarowicz.Cumulus</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>CumulusWeather</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5439458304114589~5449535943</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.weather</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>This allows Cumulus to show you the latest weather for your area.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This allows Cumulus to show you the latest weather for your area.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ForecastIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
