<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.Cumulus.apprefresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Cumulus</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-8-Bit</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>8-Bit</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Asteroid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Asteroid</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-CarminePink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CarminePink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-CloudyDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CloudyDay</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-CottonCandy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CottonCandy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-DarkCerulean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DarkCerulean</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-DodgerBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DodgerBlue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Golden</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Golden</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-IguanaGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IguanaGreen</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-LightsOut</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightsOut</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Location</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Location</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Malachite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Malachite</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Mandarin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Mandarin</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-MaximumRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaximumRed</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-MightyUmbrella</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MightyUmbrella</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-PlumpPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PlumpPurple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Radar</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Radar</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-RainDrop</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RainDrop</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Sandstorm</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Sandstorm</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Thunderstorm</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Thunderstorm</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Tuscan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Tuscan</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-TwilightMoon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TwilightMoon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-TwilightZone</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TwilightZone</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>DodgerBlue</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-8-Bit</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>8-BitiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Asteroid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AsteroidiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-CarminePink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CarminePinkiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-CloudyDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CloudyDayiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-CottonCandy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CottonCandyiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-DarkCerulean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DarkCeruleaniPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-DodgerBlue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DodgerBlueiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Golden</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GoldeniPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-IguanaGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IguanaGreeniPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-LightsOut</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LightsOutiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Location</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>LocationiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Malachite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MalachiteiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Mandarin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MandariniPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-MaximumRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaximumRediPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-MightyUmbrella</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MightyUmbrellaiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-PlumpPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PlumpPurpleiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PrideiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Radar</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RadariPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-RainDrop</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RainDropiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Sandstorm</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SandstormiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Thunderstorm</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ThunderstormiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Tuscan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TuscaniPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-TwilightMoon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TwilightMooniPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-TwilightZone</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TwilightZoneiPad</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>DodgerBlueiPad</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.josephszafarowicz.Cumulus</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>CumulusWeather</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5439458304114589~5449535943</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.weather</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This allows Cumulus to show you the latest weather for your area.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This allows Cumulus to show you the latest weather for your area.</string>
	<key>NSLocationUsageDescription</key>
	<string>This allows Cumulus to show you the latest weather for your area.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This allows Cumulus to show you the latest weather for your area.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ForecastIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>UILaunchStoryboardName</key>
	<string>Main</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
